*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
:root{
    --primary-color-light:  #2E80CE;
    --primary-color-dark: #10375C;
}
body{
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}